<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/board.css">
</head>
<body>
    <div>
        <h1><%= post.title %></h1>
        <% if (post.image.data) { %>
            <img src="/uploads/<%= post.image.data %>" alt="image"> <!-- 수정된 부분 -->
        <% } %>
        <h2><%= post.content %></h2>
        <p><%= post.viewCount %>, <%= post.likeCount %></p>
        <div>
            <a href="/boards/?page=<%= originPage %>"><button class="default-button">돌아가기</button></a>
            <a href="/board/<%= post._id %>/edit"><button class="default-button">수정</button></a>
            <a href="#"><button class="default-button">삭제</button></a>
        </div>
    </div>
    <script src="/static/js/board.js"></script>
</body>
</html>